.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 10px;
    background-color: #FFF;
    padding: 10px;
  }
  
.grid-container > div {
    padding: 10px 0;
    
    
}
.grid-container > div > a {
    color:white;
    
}
  /* accueil,tableau,formulaire*/
.item1 {
    grid-column: 1 / span 12;
    background-color:black;
    font-size: 1rem;

}

/* titre+paragraphe*/
.item2 {
    grid-column:1 / span 8;
    text-align:left;
    font-size: 1rem;
}
.item2 h1 {
    border-bottom : solid thin #CCC;
    font-size: 1rem;
}

/* colonne droite*/
.item3 {
    grid-column:9 / span 4;
    background-color:grey;
    padding:0px;
    font-size: 1rem;

 /* Mentions légales,horaires,plan du site*/   
}
.item4 {
    grid-column:1 / span 12;
    background-color:black;
    font-size: 1rem;
/*image marque jarditou*/
}
.item5 {
    grid-column:1 / span 12;
    font-size: 1rem;
}
.item5 img{ 
    max-width: 100%;
    height:auto;
    font-size: 1rem;
    position: relative;
}
.lien1 {
    margin-left:30px;
    font-size: 1rem;
}

/* image promotion*/
.item6 {
    grid-column:1 / span 6;
    font-size: 1rem;
}
.item6 img {
    max-width: 100%;
    height:auto;
    margin-left:10px;
    font-size: 1rem;
    position: relative;
}
/* tout le jardin*/

.item7 {
    grid-column:7 span 6;
    align-self: center;
    margin-left:10px;

}
 
html { font-size:100%

}

 /* ici les instructions pour écrans de moins de 768px de large. Style tel portable */ 
@media screen and (max-width: 768px) {

.grid-container{
    width: 100%;
    padding-left : 0 20px;
    
}
    
.item3 {

    display: none;
    
    
}

.item1 {

    display: block;

}

    .item4 {

        display: block;

    }

}